# xcode
build/*
*.pbxuser
*.mode1v3
*.perspectivev3
# osx
.DS_Store
profile

PullToRefresh.xcodeproj/xcuserdata/jeremym.xcuserdatad/xcschemes/PullToRefresh.xcscheme

PullToRefresh.xcodeproj/project.xcworkspace/xcuserdata/jeremym.xcuserdatad/UserInterfaceState.xcuserstate

PullToRefresh.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.gitignore.swp
